/* TodoContainer.module.css */
.AddTodoForm {
  margin-bottom: 20px;
}
  
.sortButton {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
}
  
.sortButton:hover {
  background-color: #388e3c;
}