/* TodoList.module.css */
.List {
  list-style: none;
  padding: 0;
}

.ListItem {
  margin-bottom: 8px;
  padding: 12px;
  border: 1px solid #ccc;
}

.RemoveButton {
  color: white;
  cursor: pointer;
}

.RemoveButton:hover {
  background-color: #d32f2f;
}